body{
   background-color:#6B0000;
   margin:0px;
   text-align:justify;
}

nav{
    background-color:#6B0000;
    height:150px;
    width: 100%;
}   

#form{
    color: black;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
}

#principal{
   background-color:white;
   width:70%;
   height:720px;
   margin-right:auto;
   margin-left:auto;
   margin-top:0px;
   border-radius: 40px 40px 0px 0px;
   border-color:#0F1675;
   border-style:solid;
   border-bottom:none;
   border-width:10px;
}  

#titulo2{
    height:150px;
    width:10%;
    margin-left:45%;
}

footer{
    background-color:#202020;
    color:white;
    font-size:20px;
    text-align:center;
    height:30px;
    width: 100%;
    margin-top:-20px;
}    