body{
    margin:0px;
    background-color:white;
    text-align:justify;
}

div{
    text-align:center;
    height: 420px; 
}

h1{
   margin-top:280px;
}

nav{
    background-color:#6B0000;
    height:205px;
    margin-top:0px;
    color:white;
    width: 100%;
}   

form{
    margin-top:-80px;
    float:right;
    margin-right:180px;
}

#titulo{
    height:200px;
    width:1000px;
   margin-left:80px;
}

footer{
    background-color:#202020;
    color:white;
    font-size:20px;
    text-align:center;
    height:30px;
    width: 100%;
}    