body{
   background-color:white;
   margin:0px;
   text-align:justify;
}

nav{
    background-color:#6B0000;
    height:205px;
    width: 100%;
    color:white;
}   

form{
    float:right;
    margin-top:-5%;
    margin-right:2%;
}

#titulo{
    height:90%;
    width:50%;
    margin-top:0.5%;
    margin-left:2%;
}

div{
    text-align:center;
    height: 420px; 
}

h1{
   margin-top:280px;
}

footer{
    background-color:#202020;
    color:white;
    font-size:20px;
    text-align:center;
    height:30px;
    width: 100%;
}    