body{
   background-color:white;
   margin:0px;
   text-align:justify;
}

nav{
    background-color:#6B0000;
    height:205px;
    margin-top:0px;
    color:white;
    width: 100%;
}   

#principal{
   background-color:white;
   width:1600px;
   height:700px;
   margin-right:auto;
   margin-left:auto;
   border-radius: 0px 0px 0px 0px;
   margin-top:0px;
}   

form{
    margin-top:-80px;
    float:right;
    margin-right:180px;
}

h1{
    float:right;
    margin-right:-60px;
    margin-top:150px;
}

#link{
    float:right;
    margin-right:-320px;
    margin-top:200px;
}

#birds{
   height:600px; 
   float:left;
   margin-top:50px;
   width:1000px;
   margin-left:-80px;
}

#titulo{
    height:200px;
    width:1000px;
    margin-left:80px;
}

footer{
    background-color:#202020;
    color:white;
    font-size:20px;
    text-align:center;
    height:30px;
    width: 100%;
}    