body{
	font-family: "Britanic Bold";
	font-size:14pt;
	margin:0px;
	background-color:#6B0000;
	color:#000;
	clear:left;
}

header{
	background-color:#fff;
	height:2000px;
	
	margin-top:0px;
}




section{
	background-color:#fff;
	text-align:center;
	border-radius:100px 100px 100px 100px;
	margin-left:auto;
	margin-right:auto;
	
}

#form{
	text-align: center;
	padding: 20px 20px 10px 50px;
	background-image:url("img/seg2.jpg");
	background-attachment:fixed;
	margin: 0px 15% 0px 15%;
	
}

#form h3{
	text-align:center;
}


#relogio{
	width:100px;
	height:30px;
	color:#000;
	text-align: center;
	font-size:20pt;
	float:clear;
	padding-top:20px;
	
}

section p{
	text-align: right;
	
}
			
#formulario{
	font-size:18pt;
	background-image:url("img/form.jpg");
	height:200px;
}
footer{
	background-color:#202020;
	color:#fff;
	padding:10px;
	font-size:12px;
	text-align:center;
	clear:left;
}